[submodule "utils/iota-cooler-smidgen"]
	path = utils/iota-cooler-smidgen
	url = https://github.com/joshirio/iota-cooler-smidgen
[submodule "utils/Qt-AES"]
	path = utils/Qt-AES
	url = https://github.com/joshirio/Qt-AES
